body{
    padding: 0;
    margin: 0;
}
.header, .main-content, .footer{
    border: 2px solid black;
}
.header, .footer{
    background-color: #4caf50;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.row{
    margin-bottom: 20px;
    display: flex;
    border: 2px solid black;
}
.main-content{
    max-width: 1200px;
    margin: auto;
}
.column-2, .column-3 {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    height: 200px;
}
.column-2{
    width: 50%;
}
.column-3{
    width: 33.3%;
}
@media screen and (max-width: 768px){
    .row{
        flex-direction: column;
    }
    .column-2,.column-3{
        width: 100%;
    }
    .header, .footer {
        padding: 10px 0;
        line-height: normal;
    }
}