h1{
    font: size 5px;
    color:#bc6c25;
}
nav{
    background-color: #606c38;
}
nav a{
    color:#fefae0;
}
.nav-bar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:20px;
}
.aboutMe-p{
    color:#606c38;
    background-color: #fefae0;
    font-size:medium;
    line-height:1.5;
}
#aboutMe-img{
    height: 300px;
    width:250px;
    border-color: #637528;
    border-style:none;
    border-radius: 50px;
}
a{
    text-decoration: none;
}
p{
    font-size:10px;
    line-height: 1.5;
}
#aboutMe{
    padding: 1px 1px 1px 1px;
    background-color: #fefae0;
}
#aboutMe h2{
    color:#bc6c25
}
