.header{
    width: 910px;
    height: 56px;
}
.start{
    height: 56px;
    width: 169px;
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.navbax{
    height: 40px;
    width: 40px;
}
.navbar i{
    height: 24px;
    width: 24px;
}
.logo-img{
    height: 20px;
    width: 90px;
    padding: 0px 0px 18px 16px;
}